# OMNIKEY PCSC/lite hotplug notification
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5820", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5120", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5121", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="c001", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="c100", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="c101", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5124", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5125", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="c104", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="c105", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5127", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5220", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5221", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5311", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5320", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5321", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="532a", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="532b", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a521", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5325", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5326", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="5421", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="6310", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="6320", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="6321", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="632a", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="b000", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="b001", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046a", ATTRS{idProduct}=="0091", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046a", ATTRS{idProduct}=="0092", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0bf8", ATTRS{idProduct}=="101b", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
